
.icon-css:before { content: '\e800'; } /* '' */
.icon-rocket:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-adjust:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-grav:before { content: '\f2d6'; } /* '' */
.icon-facebook-squared-1:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */