.container
{
    font-family: 'Roboto', sans-serif;
}
p
{
  font-family: 'Roboto', sans-serif;
}
 .navbar {
    position: fixed;
    width: 100%;
    padding: 7px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: white !important;
    padding-bottom: 5px;
  }
  
  .navbar a {
    color: black;
  }
  
  .navbar-nav li {
    padding-right: 20px;
  }
  
  .nav-link {
    font-size: 1.1em !important;
  }
  
  .navbar-nav li:hover>.dropdown-menu {
    display: block;
  } 
body
{
    background-color: #efefef !important;
    font-family: 'Roboto', sans-serif;
}
.single-blog
{
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
}
.single-blog img
{
    width: 100%;
}
.blog-meta
{
    font-size: 14px;
    margin-bottom: 2px;
}
.single-blog span
{
    float: right;    
    font-size: 12px;
   color: black;
}
.blog-text
{
    font-size: 14px;
    text-align: justify;
}
.single-blog h2
{
    margin-top: 10px;
    font-size: 16px;
    color: #007bff;
}
.single-blog h2 a
{
    text-decoration: none;
}
.read-more-btn
{
    background-image: linear-gradient( to right, #1c03b5, #5c8bef);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    border: none!important;
}
.read-more-btn:hover
{
    background-image: linear-gradient( to right, #006417, #00b128);
    text-decoration: none;
    color: #fff;
}

/* Social Media Section */
#socialmedia
{
    background-color: #211F1F;
}
.svg-inline--fa {
    margin: 1rem;
  }
  
  #socialmedia a {
    color: white;
    font-size: 30px;
    letter-spacing: 10px;
  }
  
  #socialmedia a.linkedin:hover {
    color: #007bb5;
  }
  
  #socialmedia a.github:hover {
    color: grey;
  }
  
  #socialmedia a.facebook:hover {
    color: #1877f2;
  }
  
  #socialmedia a.instagram:hover {
    color: #c32aa3;
  }