.container
{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}
blockquote
{
  font-weight: bold;
}
p
{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 7px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: white !important;
}

.navbar a {
  color: black;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.navbar-nav li:hover>.dropdown-menu {
  display: block;
}

.navbar {
  background-color: #000;
  padding-bottom: 5px;
} 
article
{
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    text-align: justify;
    width: 1200px;
    margin-left: 100px;
    margin-right: 100px;
}
.figure img
{
    Width: 40%;
}
#main
{
    width: 80%;
   
}
blockquote
{
    font-style: italic;
}
/* p
{
    font-size: 18px;
} */
/* Social Media Section */
.footer
{
    background-color: #211F1F;
    color: grey;
}
#socialmedia
{
    background-color: #211F1F;
}
.svg-inline--fa {
    margin: 1rem;
  }
  
  #socialmedia a {
    color: white;
    font-size: 30px;
    letter-spacing: 10px;
  }
  
  #socialmedia a.linkedin:hover {
    color: #007bb5;
  }
  
  #socialmedia a.github:hover {
    color: grey;
  }
  
  #socialmedia a.facebook:hover {
    color: #1877f2;
  }
  
  #socialmedia a.instagram:hover {
    color: #c32aa3;
  }